In [1]:
print('hello world')

hello world

In [3]:
print('python no habla')

python no habla

In [4]:
import numpy as np

In [5]:
import pandas as pd

In [6]:
import pandas as pd

In [10]:
df = pd.DataFrame({1,2,3,4,5})

In [11]:
df

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
df.rename